body {
    background-color: #001f3f; 
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-bottom: 5px solid #4b0082; 
    padding-bottom: 15px;
    margin-bottom: 50px;
    text-align: center;
}

#loginDiv {
    background-color: #FFFFFF;
    color: #1a1a1a;
    border-radius: 0px; 
    box-shadow: 0 20px 40px rgba(0,0,0,0.6);
    padding: 60px;
    width: 420px;
    box-sizing: border-box;
}

.inner-title {
    display: block;
    font-size: 12px;
    font-weight: 700;
    color: #4b0082;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 10px;
}

label {
    font-weight: 700;
    font-size: 11px;
    color: #666;
    text-transform: uppercase;
    margin-bottom: 6px;
    display: block;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
    border: 1px solid #D1D1D1;
    border-radius: 0px;
    padding: 14px;
    width: 100%;
    margin-bottom: 25px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

input:focus {
    outline: none;
    border: 1px solid #4b0082;
    box-shadow: 0 0 10px rgba(75, 0, 130, 0.15);
}

.buttons {
    background-color: #4b0082; 
    color: #FFFFFF;
    border: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    width: 100%;
    padding: 18px;
    transition: background 0.2s ease;
}

.buttons:hover {
    background-color: #310055;
    outline: 1px solid #FFFFFF;
}

#loginResult {
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    color: #95060a;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
}

.form-grid #searchText, .form-grid #phone, .form-grid #email, .form-grid label.label--full, .form-grid .buttons {
    grid-column: span 2;
}

#contactList {
    margin-top: 15px;
    background: #f9f9f9;
    padding: 10px;
    border-left: 4px solid #4B0082;
}

#contactList .contact {
    color: black;
}

#contactList .contact span, #contactList .contact a {
    display: block;
}

#contactList .contact .contact-name {
    font-weight: 500;
    font-size: 1.1rem;
}

#contactList .contact .contact-email, #contactList .contact .contact-phone {
    color: #4B0082;
}
